.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    background-color: #e0e0e0;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.hidden {
    transform: translate(-50%, -100%);
}

form {
    display: flex;
    gap: 10px;
    min-width: 500px;
}

input {
    flex-grow: 1;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    outline: none;
    background: #e0e0e0;
    box-shadow: inset 5px 5px 10px #b8b8b8, inset -5px -5px 10px #ffffff;
    color: #333;
    transition: box-shadow 0.3s;
}

input:hover {
    box-shadow: inset 3px 3px 6px #b8b8b8, inset -3px -3px 6px #ffffff;
}

.searchBtn {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    background: crimson;
    box-shadow: 3px 3px 6px #b8b8b8, -3px -3px 6px #ffffff;
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.searchBtn:hover {
    box-shadow: 5px 5px 10px grey, -5px -5px 10px grey;
    transform: translateY(2px);
    scale: 1.06;
}

.searchBtn:active {
    box-shadow: 5px 5px 10px #b8b8b8, -5px -5px 10px #ffffff;
}