.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal {
    position: relative;
    background: rgba(250, 0, 0, 0.3);
    border-radius: 10px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90vw;
    max-height: 100vh;
    overflow: hidden;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgb(255, 255, 255, 0.8);
    border: 1px solid rgba(180, 180, 180, 0.3);
}

.modalImage {
    width: 100%;
    max-height: 80vh;
    object-fit: contain;
    border-radius: 10px;
}

.modalInfo {
    text-align: center;
    margin: 0 auto;
    max-width: 90%;
    color: white;
    font-weight: 300;
}

.imageTitle {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.author {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    height: 50px;
    border-radius: 50px;
    margin-right: 10px;
}

.authorName {
    font-size: 20px;
    color:burlywood;
    text-shadow: 2px 2px 4px rgba(8, 2, 2, 0.5);
    font-weight: 600;
 }